<p id="notice"><%= notice %></p>

<p>
  <strong>Recipes:</strong>
  <%= @create_recipes_categories_join_table.recipes %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @create_recipes_categories_join_table.categories %>
</p>

<%= link_to 'Edit', edit_create_recipes_categories_join_table_path(@create_recipes_categories_join_table) %> |
<%= link_to 'Back', create_recipes_categories_join_tables_path %>
